<div class="box-border sticky p-2 mt-2 rounded-sm overflow-y-clip top-2 w-52 bg-primary">
    @for(item of items ; track item ){
    <div class="flex items-center p-1 m-2 rounded-lg bg-tertiary">
        <img src="../../../../assets/items/{{ item.id }}.png" alt="" class="w-[22px]" />
        <span class="text-xs font-bold text-secondary font-inter ps-2">{{ item.name }}</span>
        <input
            [value]="item.marketPrice"
            type="number"
            class="pl-1 ml-2 rounded-lg w-14 bg-secondary"
            (change)="updatePrice($event, item.id)"
        />
    </div>
    }
</div>
