<button
    class="px-4 py-2 font-semibold text-blue-700 bg-transparent border border-blue-500 rounded hover:bg-blue-500 hover:text-white hover:border-transparent"
    (click)="sortByMinValueToSell()"
>
    VALOR MIN. VENDA
</button>
<button
    class="px-4 py-2 font-semibold text-blue-700 bg-transparent border border-blue-500 rounded hover:bg-blue-500 hover:text-white hover:border-transparent"
    (click)="sortByProfit()"
>
    PROFIT
</button>
<div class="flex">
    <div class="flex flex-wrap items-center justify-center">
        @for (recipe of recipes; let i = $index; track recipe) {
        <app-recipe-farming [service]="service" [recipe]="recipe" [index]="i" class="p-2"></app-recipe-farming>
        }
    </div>
    <app-market-items [items]="items" [service]="service"></app-market-items>
</div>
