<header class="h-16 bg-primary">
    <a
        class="px-4 py-2 hover:font-semibold hover:text-white"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        routerLinkActive="font-semibold text-white"
        >HOME</a
    >
    <a
        class="px-4 py-2 hover:font-semibold hover:text-white"
        routerLink="/farming"
        routerLinkActive="font-semibold text-white"
        >FARMING</a
    >
    <a
        class="px-4 py-2 hover:font-semibold hover:text-white"
        routerLink="/woodcutting"
        routerLinkActive="font-semibold text-white"
        >WOODCUTTING</a
    >
    <a
        class="px-4 py-2 hover:font-semibold hover:text-white"
        routerLink="/husbandry"
        routerLinkActive="font-semibold text-white"
        >HUSBANDRY</a
    >
</header>
<router-outlet></router-outlet>
